/******************************* COMMON
***************************************/
*,
:before,
:after {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3 {
  color: #99EFD0;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-family: 'Inter';
  color: #8476AA;
}

span {
  color: #F2994A;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Gilroy', sans-serif;
  height: 100%;
  line-height: 1;
  background: linear-gradient(45deg, rgb(4, 13, 62), rgb(59, 29, 96)) fixed;
}

input {
  outline: 0;
}

/* -----------------------Fonts ----------------------*/
@font-face {
	font-family: 'Gilroy';
	font-display: swap;
	src: url("../assets/fonts/Gilroy-Semibold.woff");
	src: local("O"), url("../assets/fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Rubik:wght@500&display=swap');

/* --------------- Wrapper ---------------- */

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* -------------------------------------------- */

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1130px;
  margin: 0px auto;
  padding: 0px 20px;
}


/* ---------- header ---------- */

.header__container {
  display: flex;
  min-height: 198px;
  align-items: center;
}

.header__menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  align-items: center;
  margin-left: 44px;
  gap: 44px;
}

.menu__link,
.button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}

.menu__link {
  color: #B5B5B5;
  transition: .2s linear;
}

.menu__link:hover {
  color:#F2994A;
  transition: .2s linear;
}

/* -------------- buttons ------------------- */

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.button {
  font-family: 'Rubik';
  width: 157px;
  height: 46px;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s linear;
}

.button-base {
  color: #F2994A;
  border: 1px solid #F2994A;
  background-color: transparent;
}

.button-base:hover {
  color: #FFFFFF;
  background-color: #F2994A;
  box-shadow: 0px 10px 20px -12px #f2995e;
  transition: .1s linear;
}

header .button {
  width: 112px;
  height: 36px;
}

@media (max-width: 565.5px) {
  header .button {
    width: 80px;
    height: 36px;
  }
}

/* -----------------   ----------------- */


/* --------- PC ------------- */
@media (max-width: 1199.5px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* --------- TABLET ------------- */
@media (max-width: 991.5px) {
  [class*="__container"] {
    max-width: 780px;
  }

  .header__container {
    min-height: 150px;
  }

  .menu__list {
    margin: 0px 25px;
    gap: 30px;
  }

  .menu__link {
    font-size: 11px;
  }

}


/* --------- MOBILE ------------- */

@media (min-width: 767.6px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 767.5px) {
  [class*="__container"] {
    max-width: 650px;
  }

  .header__container {
    min-height: 125px;
    justify-content: space-between;
  }

  .header__burger {
    display: block;
  }

  .menu__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0px;
    opacity: 0;
    transition: .2s linear;
    z-index: -1;
  }
  .menu__list.active {
    top: 115px;
    margin: 0;
    background-color: #000000;
    opacity: 0.95;
    transition: .2s linear;
    z-index: 0;
  }

  .menu__link {
    display: block;
    font-size: 16px;
    color: #F2994A;
    padding: 20px 0px;
  }
}

/* Burger */
.header__burger {
  position: relative;
  width: 30px;
  height: 18px;
}
.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #F2994A;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: .2s linear;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 8px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 8px;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger span {
  position: absolute;
  background-color: #F2994A;
  left: 0;
  width: 100%;
  height: 2px;
  top: 8px;
  transition: .2s linear;
}


/* ---- Reasons block ------ */

.reasons__container {
  display: flex;
  gap: 30px;
}

.reasons__content {
  min-width: 540px;
}

h1 {
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 20px;
}

.reasons__content p {
  max-width: 400px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter';
  color: #8476AA;
}




.reasons__buttons {
  margin-bottom: 60px;
}




.reasons__video img {
  cursor: pointer;
}

.reasons__video,
.video__preview {
  display: flex;
}

.video__preview {
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.video__preview p {
  max-width: 315px;
  font-size: 16px;
  margin: 0;
}

.video__preview a {
  width: fit-content;
  font-size: 14px;
  color: #6D6D78;
  transition: .1s linear;
}

.video__preview a:hover {
  text-decoration: underline;
  color: #F2994A;
  transition: .1s linear;
}


/* --------- PC ------------- */
@media (max-width: 1199.5px) {
  
}

/* --------- TABLET ------------- */
@media (max-width: 991.5px) {
  .reasons__content {
    min-width: 425px;
  }

  h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .reasons__video img {
    height: 75%;
  }
}


/* --------- MOBILE ------------- */

@media (max-width: 767.5px) {
  .reasons__container {
    flex-direction: column;
    gap: 50px;
  }

  h1 {
    font-size: 32px;
  }

  .reasons__content p {
    font-size: 16px;
  }

  .video__preview p {
    font-size: 14px;
  }
}

@media (max-width: 469.5px) {
  .reasons__content {
    min-width: unset;
  }
}



/* ------------------ CUSTOMERS ------------------- */ 

.customers {
  padding-bottom: 100px;
}

.customers__container {
  max-width: 970px;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.customers__list img {
  opacity: 0.3;
  transition: .1s linear;
}

.customers__list img:hover {
  opacity: 1;
  transition: .1s linear;
}

@media (max-width: 649.5px) {
  .customers__list {
    justify-content: unset;
  }

  .customers__list li {
    width: 50%;
    padding: 25px;
    text-align: center;
  }
}

/* -------------- Your Choice --------------- */

.your-choice {
  padding-bottom: 100px;
}

@media (min-width: 1639.5px) {
  
  .your-choice {
    padding-bottom: 225px;
    background: url(../img/your-choice-1.svg) no-repeat,
                url(../img/your-choice-2.svg) 100% no-repeat;
  }
}

.your-choice-chapter {
  text-align: center;
  margin-bottom: 50px;
}

.your-choice__subtitle {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 50px;
}

.your-choice-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px 50px;
}

.features__block {
  width: 300px;
}

.features__block h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 10px;
} 

.features__block h3::before {
  content: url(../img/feature-1.svg);
  display: inline-block;
  margin-right: 28px;
}

.features__block-2 h3::before {
  content: url(../img/feature-2.svg);
}

.features__block-3 h3::before {
  content: url(../img/feature-3.svg);
}

.features__block-4 h3::before {
  content: url(../img/feature-4.svg);
}

.features__block-5 h3::before {
  content: url(../img/feature-5.svg);
}

.features__block-6 h3::before {
  content: url(../img/feature-6.svg);
}

.features__block p {
  font-size: 14px;
}

@media (max-width: 1199.5px) {
  .your-choice-features {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767.5px) {
  .features__block {
    width: 100%;
  }
  .your-choice-features {
    display: flex;
    flex-direction: column;
    gap: 35px 15px;
    align-items: center;
  }
}




/* ------------ Increase -------------- */

.increase {
  background: url(../img/increase-background.svg) 0% 130% no-repeat;
}

.increase__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.increase__content {
  max-width: 400px;
}

.increase__title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 30px;
}

.increase__description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 45px;
}

@media (max-width: 767.5px) {

  .increase {
    padding: 100px 0px;
  }

  .increase__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .increase__description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991.5px) {
  .increase__container {
    flex-direction: column;
    justify-content: unset;
  }

  .increase__content {
    margin-bottom: 70px;
    text-align: center;
  }
  
}

/* ---------------- Metricks ----------------- */

.metricks {
  padding: 0px 0px 100px 0px;
}

.metricks__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

h2.metricks__title,
h3.metricks__subtitle {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33px;
}

h2.metricks__title {
  max-width: 680px;
  margin-bottom: 30px;
}

.metricks__description {
  max-width: 365px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
}


.metricks__way {
  display: flex;
}

.way {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.way.way-1 {
  width: 195px;
}

.way.way-2 {
  width: 275px;
}

.way.way-3 {
  width: 190px;
}

h3.metricks__subtitle {
  margin-bottom: 15px;
}


@media (min-width: 767.5px) {
  .metricks__way {
    justify-content: space-between;
    gap: 0px;
  }
}

@media (max-width: 650px) {
  .metricks__way {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

@media (max-width: 575.5px) {
  h2.metricks__title {
    font-size: 30px;
  }
}

/* -------------- Next-project ---------------- */

.next-project {
  padding: 125px 0px;
  background: url(../img/next-project-background.svg) 50% no-repeat;
}

.next-project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
}

.next-project__title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 50px;
}

.next-project button {
  width: 164px;
  height: 54px;
}

@media (max-width: 575.5px) {
  .next-project__title {
    font-size: 34px;
  }
}


/* ------------- Invest ------------ */

.increase--invest {
  padding: 100px 0px 80px;
  background: url(../img/invest-background.svg)  100% 100% no-repeat;
}


@media (max-width: 575.5px) {
  .increase__picture img {
    width: 280px;
  }
  .increse__picture .increse__picture--invest img {
    width: 280px;
  }
}


/* ----------------- Help ---------------- */

.help {
  padding: 100px 0px;
  background: url(../img/help-background.svg) 100% no-repeat;
}

.help__container {
  display: flex;
  gap: 85px;
}

.help__picture img {
  width: 100%;
}

.help__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.help__head {
  margin-bottom: 50px;
}

.head__body {
  display: flex;
  justify-content: space-between;
}

h3.head__title {
  padding-bottom: 30px;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.32px;
}

h3.head__title,
h4.feature__subtitle {
  color: #99EFD0;
}

p.head__description,
h4.feature__subtitle,
p.feature__description {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.body__feature {
  max-width: 195px;
}

h4.feature__subtitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.body__feature--one h4::before,
.body__feature--two h4::before {
  content: url(../img/feature-one.svg);
  display: flex;
  margin-bottom: 10px;
}

.body__feature--two h4::before {
  content: url(../img/feature-two.svg);
  margin-bottom: 10px;
}

@media (max-width: 767.5px) {
  .help__container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 650px) {
  .metricks__way {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

@media (max-width: 567.5px) {
  .head__body {
    flex-direction: column;
    align-items: center;
  }
  .body__feature {
    margin-bottom: 20px;
  }
}


/* -------------- Form ------------ */

.form {
  padding: 40px 20px 140px;
  background: url(../img/form-background.svg) repeat-x;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #1F2262;
  border-radius: 5px;
}

.form h3 {
  margin-bottom: 20px;
  color: #F2994A;
  font-size: 36px;
  line-height: 43px;
}

.form p {
  margin-bottom: 23px;
  max-width: 360px;
  font-size: 16px;
  line-height: 22px;
  color: #95A1BB;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 16px;
}

input.mail {
  width: 286px;
  height: 54px;
  padding: 16px 18px 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  background-color: #272857;
  color: #95A1BB;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.1s linear;
  border: 1px solid transparent;
}

input.mail:focus {
  transition: 0.1s linear;
  border: 1px solid#F2994A;
}

input.submit {
  width: 126px;
  height: 54px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #F2994A;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  transition: .1s linear;
}

input.submit:hover {
  border: 2px solid #F2994A;
  background-color: #272857;
  color: #99EFD0;
  transition: .1s linear;
  box-shadow: 1px 0px 5px #F2994A;
}

.note {
  font-family: Gilroy;
  color: #8476AA;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}


@media (max-width: 575.5px) {

  h3.form__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  p.form__subtitle {
    font-size: 15px;
    margin-bottom: 30px;
  }

  form {
    flex-direction: column;
    margin-bottom: 30px;
  }

  input.mail {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  input.submit {
    margin: 0 auto;
    border-radius: 5px;
  }

}

@media (max-width: 650px) {
  .metricks__way {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}